[submodule "InstaAudio-client"]
	path = client
	url = git@github.com:Enigmage/InstaAudio-client.git
	branch = main
[submodule "InstaAudio-server"]
	path = server
	url = git@github.com:Enigmage/InstaAudio-server.git
	branch = main
